<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="2">
	<!--<suite name="Suite"> -->
	<test name="ChromeTest"> 
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.bookmyfurniture.testcases.RegisterTest">
				<methods>
					<include name="registerFurniture" />
					<exclude name="faiTest" />
				</methods>
			</class>
			<class name="com.bookmyfurniture.testcases.LoginTest">
				<methods>
					<include name="Login" />
					<exclude name="Logout" />
					<exclude name="LoginWithWrongPassword" />
					<exclude name="LoginWithoutEmailId" />
				</methods>
			</class>
			
		</classes>
	</test>  <!-- Test -->

	<!--  <test name="FirefoxTest"> <parameter name="browser" value="firefox" /> 
	 <classes>
			<class name="com.bookmyfurniture.testcases.RegisterTest">
				<methods>
					<include name="registerFurniture" />
					<exclude name="faiTest" />
				</methods>
			</class>
			<class name="com.bookmyfurniture.testcases.LoginTest">
				<methods>
					<include name="Login" />
					<include name="Logout" />
					<include name="LoginWithWrongPassword" />
					<include name="LoginWithoutEmailId" />
				</methods>
			</class>
			
		</classes>
		</test> -->
</suite> <!-- Suite -->
